@model IEnumerable<Bo.Thema>

@{
    ViewBag.Title = "Liste des thèmes";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.RouteLink("Nouveau thème", "AdminThemaNew")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            #@Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.RouteLink("Éditer", "AdminThemaEdit", new { id = item.Id }) |
            @Html.RouteLink("Éditer", "AdminThemaDelete", new { id = item.Id })
        </td>
    </tr>
}

</table>
