@model IEnumerable<Bo.Event>

@{
    ViewBag.Title = "Liste des événements";
}

<h2>@ViewBag.Title</h2>

<p>
    @Html.RouteLink( "Nouvel événement", "AdminEventNew")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Duration)
        </th>
        <th>
            Thème
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            #@Html.DisplayFor(modelItem => item.Id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Duration)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Thema.Title)
        </td>
        <td>
            @Html.RouteLink("Éditer", "AdminEventEdit", new { id = item.Id }) |
            @Html.RouteLink("Supprimer", "AdminEventDelete", new { id = item.Id }) |
        </td>
    </tr>
}

</table>
