@model EniEvents.Areas.Admin.Models.CreateEditThemaVM
@using Bo
@{
    ViewBag.Title = "Édition d'un thème";
}

<h2 class="no-padding">@ViewBag.Title</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Thema.Id)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="row">
        <div class="col s12 input-field">
            @Html.LabelFor(model => model.Thema.Title)
            @Html.EditorFor(model => model.Thema.Title)
            @Html.ValidationMessageFor(model => model.Thema.Title, "", new { @class = "red-text" })
        </div>
    </div>
        <div class="row">
            <div class="col s12 center-align">
                <input type="submit" value="Enregistrer" class="btn green darken-1" />@Html.RouteLink("Annuler", new { area = "Admin", controller = "Thema", action = "Index" }, new { @class = "btn grey", @style = "margin-left:20px;" })
            </div>
        </div>}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}