<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Mon application ASP.NET</title>
        @Styles.Render("~/bundles/materializeStyles")
        @Styles.Render("~/bundles/styles")

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/materialize")
    @Scripts.Render("~/bundles/custom")
    @RenderSection("scripts", required: false)

</head>
<body>
    <nav class="grey darken-4">
        <div class="nav-wrapper">
            @Html.ActionLink("ENI EVENTS", "Index", "Home", new { area = "" }, new { @class = "brand-logo" })
            <ul id="nav-mobile" class="right hide-on-med-and-down">
                <li>@Html.RouteLink("Événements", "AdminEventList")</li>
                <li>@Html.RouteLink("Thèmes", "AdminThemaList")</li>
                <li>@Html.Partial("_LoginPartial")</li>
            </ul>
        </div>
    </nav>
    @RenderBody()      
</body>
</html>